$darkBlue: hsl(243, 87%, 12%);
$desaturatedBlue :hsl(238, 22%, 44%);
$brightBlueActiv : hsl(224, 97%, 69%);
$brightBlue : hsl(224, 93%, 58%);
$moderateCyanActiv : hsl(170, 50%, 63%);
$moderateCyan : hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$LightGray : hsl(0, 0%, 75%);
